@CHARSET "UTF-8";

.formH {
margin-top: 100px;
}

.addSupBanner {
    width: 100%;
    height: auto;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow:hidden;
} 